{% extends 'base.html.twig' %}

{% block page_header %}
<div class="col-sm-12">
    {% block base_flash_messages %}
        {{ show_flash_messages() }}
    {% endblock base_flash_messages %}
</div>
{% endblock %}

{% block base_body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Partenaires privilégiés des communes et de leurs groupements, <strong>l’État, la Région Occitanie / Pyrénées-Méditerranée et le Département de la Haute-Garonne</strong> contribuent, au travers de leurs dispositifs d’aides à l’investissement public local, à soutenir des projets en faveur du développement économique, de l'attractivité du territoire, du maintien des services publics locaux, de la transition énergétique et des équipements publics de la Haute Garonne.</p>
            <p><strong>Pour faciliter vos démarches,</strong> l’État, la Région Occitanie / Pyrénées-Méditerranée et le Département de la Haute-Garonne mutualisent ce portail en ligne pour vous permettre de saisir en une seule fois et en un seul lieu vos demandes d’aide.</p>
            <p><strong>Vous pouvez déposer sur ce portail vos demandes concernant les projets susceptibles d’être cofinancés par l’État, la Région et le Département dans le cadre des dispositifs suivants : </strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="border">
                <div class="panel panel-default">
                    <div class="p-3 mb-2 bg-secondary bg-gradient text-dark" style="--bs-bg-opacity: .2">
                        <div class="panel-heading">
                            <strong>{{ icon('info-circle') }} Région Occitanie / Pyrénées-Méditerranée </strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>Vous pouvez saisir sur ce portail vos demandes d’aide relevant des dispositifs suivants :</p> 
                        <ul>
                            <li>Espaces publics,</li>
                            <li>Espaces associatifs et/ou mutualisés,</li>
                            <li>Pôles petite enfance,</li>
                            <li>Mise en accessibilité des bâtiments publics,</li>
                            <li>Rénovation énergétique des bâtiments publics,</li>
                            <li>Equipements sportifs,</li>
                            <li>Equipements touristiques,</li>
                            <li>Equipements culturels,</li>
                            <li>Habitat communal,</li>
                            <li>Maisons de santé.</li>
                        </ul>
                        
                        <p>Dépôt des dossiers au fil de l’eau dans le cadre des contrats territoriaux Occitanie / Pyrénées-Méditerranée.</p>
                        
                        <p>Les critères précis de l’ensemble de ces dispositifs sont accessibles sur le site de la Région/ Rubrique Aides et appels à projets.</p>
                        <a href="https://www.laregion.fr/Les-aides-et-appels-a-projets" class="btn btn-primary btn-outline" style="display: block" target="_blank"><i class="fas fa-share-square"> </i> Site Internet de la Région</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="border">
                <div class="panel panel-default">
                    <div class="p-3 mb-2 bg-secondary bg-gradient text-dark" style="--bs-bg-opacity: .2">
                        <div class="panel-heading">
                            <strong>{{ icon('info-circle') }} Conseil départemental de la Haute-Garonne</strong>
                        </div>
                        </div>
                        <div class="panel-body">
                            <p>Vous pouvez saisir sur ce portail toutes vos demandes d’aide susceptibles de pouvoir bénéficier d’une aide en investissement du Conseil départemental et faisant l’objet d’une demande de cofinancement.</p>
                            
                            <p>Les critères précis de l’ensemble de ces dispositifs (date limite de dépôt ou de complétude des dossiers, cadre règlementaire applicable) sont accessibles sur notre site.</p>
                            <a href="http://subventions.haute-garonne.fr" class="btn btn-primary btn-outline" style="display: block" target="_blank"><i class="fas fa-share-square"> </i> Site Internet du Conseil départemental</a>
                            <p>Si vous ne souhaitez pas déposer une demande de cofinancement auprès de la Région Occitanie / Pyrénées-Méditerranée, veuillez déposer votre demande sur le portail Haute-Garonne subventions à l’adresse suivante :</p>
                            <a href="https://sub31.haute-garonne.fr/aides/#/cd31/" class="btn btn-primary btn-outline" style="display: block" target="_blank"><i class="fas fa-share-square"> </i> Portail demande Haute-Garonne </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <p> </p> 

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">AVERTISSEMENT :<br />
                Si vous souhaitez solliciter une aide relevant d’un dispositif autre que ceux mentionnés ci-dessus (CAF, DRAC, Europe, FISAC, Fonds européens, etc.), il vous appartient de déposer votre demande directement auprès de l’organisme ou de l’institution concerné(e).
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>

    <div class="row homepage-button">
        <div class="col-sm-offset-4 col-sm-12 text-center">
            <a class="btn btn-warning btn-lg" href="{{ path('dossier_subvention_new') }}">Déposer un dossier de subvention</a>
            <a> </a>
        </div>
    </div>
</div>
{% endblock %}
